/BuilderPattern/.vs
/BuilderPattern/BuilderPattern/bin
/BuilderPattern/BuilderPattern/obj
/BuilderRecursiveGenerics/.vs
/BuilderRecursiveGenerics/BuilderRecursiveGenerics/obj
/BuilderRecursiveGenerics/BuilderRecursiveGenerics/bin
/FacetedBuilder/.vs
/FacetedBuilder/FacetedBuilder/obj
/FacetedBuilder/FacetedBuilder/bin
/FacadePattern/.vs
/FacadePattern/FacadePattern/obj
/FacadePattern/FacadePattern/bin
