/BuilderPattern/.vs
/BuilderPattern/BuilderPattern/bin
/BuilderPattern/BuilderPattern/obj
/BuilderRecursiveGenerics/.vs
/BuilderRecursiveGenerics/BuilderRecursiveGenerics/obj
/BuilderRecursiveGenerics/BuilderRecursiveGenerics/bin
